<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
    <insert id="save" parameterType="Product">
        INSERT INTO products (dept_flight_id, arrive_flight_id, hotel_id, location_id, price)
        VALUES (#{deptFlightId}, #{arriveFlightId}, #{hotelId}, #{locationId}, #{price})
    </insert>

    <select id="findById" resultType="Product" parameterType="long">
        SELECT * FROM products WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Product">
        SELECT * FROM products
    </select>

    <select id="findByFilter" resultType="Product">
        SELECT p.*
        FROM products p
        LEFT JOIN locations l ON p.location_id = l.id
        <where>
            <if test="continent != null and continent != ''">
                AND l.continent = #{continent}
            </if>
            <if test="city != null and city != ''">
                AND l.city = #{city}
            </if>
            <if test="minPrice != null">
                AND p.price &gt;= #{minPrice}
            </if>
            <if test="maxPrice != null">
                AND p.price &lt;= #{maxPrice}
            </if>
            <if test="deptDate != null">
                AND DATE(p.dept_flight_time) = #{deptDate}
            </if>
            <if test="arriveDate != null">
                AND DATE(p.arrive_flight_time) = #{arriveDate}
            </if>
        </where>
    </select>

    <update id="update" parameterType="Product">
        UPDATE product
        SET dept_flight_id = #{deptFlightId},
        arrive_flight_id = #{arriveFlightId},
        hotel_id = #{hotelId},
        location_id = #{locationId},
        price = #{price}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM product WHERE id = #{id}
    </delete>
</mapper>
