<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travelers.travelweb.domain.product.repository.ProductRepository">
    <insert id="save" parameterType="Product">
        INSERT INTO product (dept_flight_id, arrive_flight_id, hotel_id, location_id, price)
        VALUES (#{deptFlightId}, #{arriveFlightId}, #{hotelId}, #{locationId}, #{price})
    </insert>

    <select id="findById" resultType="Product" parameterType="long">
        SELECT * FROM product WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Product">
        SELECT * FROM product
    </select>

    <select id="findByFilter" resultType="Product">
        SELECT p.* FROM product p
        <where>
            <if test="continent != null and city != null">
                AND p.location_id IN (
                SELECT id FROM locations
                WHERE continent = #{continent} AND city = #{city}
                )
            </if>
            <if test="minPrice != null and maxPrice != null">
                AND p.price BETWEEN #{minPrice} AND #{maxPrice}
            </if>
            <if test="deptDate != null">
                AND DATE(p.dept_flight_time) = #{deptDate}
            </if>
            <if test="arriveDate != null">
                AND DATE(p.arrive_flight_time) = #{arriveDate}
            </if>
        </where>
    </select>

    <update id="update" parameterType="Product">
        UPDATE product
        SET dept_flight_id = #{deptFlightId},
        arrive_flight_id = #{arriveFlightId},
        hotel_id = #{hotelId},
        location_id = #{locationId},
        price = #{price}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM product WHERE id = #{id}
    </delete>
</mapper>
